# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform variables files
*.tfvars
*.tfvars.json

# Ignore sensitive GCP service account keys
*.json

# Ignore Ansible artifacts
*.retry

# Ignore local .terraform directories
.terraform/
